html, body {
  height: 91vh;
  width: 100%;
}
.img-back {
  width: 10%;
  margin-left: 15px;
  margin-bottom: 10px;
  border-radius: 0%;
  border-width: 0px;
}
a {
  text-decoration: none;
  color: black;
}

dialog {
  border-radius: 20px;
  border-color: #eee;
}

.div-new {
  display: flex;
  flex-wrap: wrap;

}
