<div style="text-align: center; margin-top: 20px;">
  <label style="font-size: 28px;"><b>Entrenamientos</b></label>
</div>
<body>
  <div class="container" style="position: relative; padding-top: 10px;">
    <div class="card text-left" style="margin-top: 10px;">
      <a href="niveluno">
        <img src="https://firebasestorage.googleapis.com/v0/b/escleapp.appspot.com/o/users%2F40349836_m-847x500.jpg?alt=media&token=edee1168-a292-43ff-88f1-53c6b8426383" class="card-img-top" >
        <h5 class="card-title" style="margin-top: 20px;">Entrenamiento nivel 1</h5>
        <p class="card-text" style="font-size: large;">Entrenamiento de primer nivel para aquellos que acaban de empezar con la actividad fisica.</p>
      </a>
    </div>

    <div class="card text-left" style="margin-top: 20px;">
      <a href="niveldos">
        <img src="https://firebasestorage.googleapis.com/v0/b/escleapp.appspot.com/o/users%2F40349836_m-847x500.jpg?alt=media&token=edee1168-a292-43ff-88f1-53c6b8426383" class="card-img-top" >
        <h5 class="card-title" style="margin-top: 20px;">Entrenamiento nivel 2</h5>
        <p class="card-text" style="font-size: large;">Entrenamiento de segundo nivel para aquellos que acaban de empezar con la actividad fisica.</p>
      </a>
    </div>

    <div class="card text-left" style="margin-top: 20px;">
      <a href="niveltres">
        <img src="https://firebasestorage.googleapis.com/v0/b/escleapp.appspot.com/o/users%2F40349836_m-847x500.jpg?alt=media&token=edee1168-a292-43ff-88f1-53c6b8426383" class="card-img-top" >
        <h5 class="card-title" style="margin-top: 20px;">Entrenamiento nivel 3</h5>
        <p class="card-text" style="font-size: large;">Entrenamiento de tercer nivel para aquellos que acaban de empezar con la actividad fisica.</p>
      </a>

    </div>

    <div class="card text-left" style="margin-top: 20px;">
      <a href="nivelcuatro">
        <img src="https://firebasestorage.googleapis.com/v0/b/escleapp.appspot.com/o/users%2F40349836_m-847x500.jpg?alt=media&token=edee1168-a292-43ff-88f1-53c6b8426383" class="card-img-top" >
        <h5 class="card-title" style="margin-top: 20px;">Entrenamiento nivel 4</h5>
        <p class="card-text" style="font-size: large;">Entrenamiento de cuarto nivel para aquellos que acaban de empezar con la actividad fisica.</p>
      </a>
    </div>

    <div class="card text-left" style="margin-top: 20px; margin-bottom: 20px;">
      <a href="nivelcinco">
        <img src="https://firebasestorage.googleapis.com/v0/b/escleapp.appspot.com/o/users%2F40349836_m-847x500.jpg?alt=media&token=edee1168-a292-43ff-88f1-53c6b8426383" class="card-img-top" >
      <h5 class="card-title" style="margin-top: 20px;">Entrenamiento nivel 5</h5>
      <p class="card-text" style="font-size: large;">Entrenamiento de quinto nivel para aquellos que acaban de empezar con la actividad fisica.</p>
      </a>
    </div>
  </div>

</body>


