
<nav class="navbar fixed-bottom" *ngIf=" mostrar == true">
  <div class="container">
    <div class="container-fluid" align="center" style="margin-top: 5px; ">
      <a href="calendar">
        <img class="nav-bar image" src="/assets/calendar-clock-free-icon-font.png">
      </a>
      <a  href="help-list">
        <img class="nav-bar image" src="/assets/notebook-free-icon-font.png">
      </a>
      <a href="newitems">
        <img class="nav-bar image" src="/assets/add-free-icon-font.png">
      </a>
      <a  href="exercises">
        <img class="nav-bar image" src="/assets/running-free-icon-font.png">
      </a>
      <a  href="userdata">
        <img class="nav-bar image"  src="/assets/user-free-icon-font.png">
      </a>
    </div>
  </div>
</nav>
