/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 92vh;
  width: 100vw;
  overflow: hidden;
  overflow-y: inherit;
}

body {
  margin: 0;
  background-color: white;
  font-family: 'Poppins', sans-serif;
}

li::marker {
  color: white;
}

.container {
  --bs-gutter-x: 0.5rem;
}

app-body {
  background-color: white;
}

dialog {
  border-radius: 20px;
  border-color: #eee;
}

label {
  font-size: large;
  color: #020202;
}

.fc .fc-toolbar .fc-button {
  color: #ffffff;
  background: linear-gradient(to bottom right, #eb6954, #ff9a81);
  border: 1px linear-gradient(to bottom right, #eb6954, #ff9a81);
  font-size: 1rem;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
  border-radius: 3px;
  display: flex;
  align-items: center;
}

.button-62 {
  background: linear-gradient(to bottom right, #eb6954, #ff9a81);
  border: 0;
  border-radius: 100px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: 'Poppins', sans-serif;
  font-size: large;
  font-weight: 500;
  line-height: 2.5;
  outline: transparent;
  padding: 0 2rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
}

.button-62:not([disabled]):focus {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}

.button-62:not([disabled]):hover {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}

.login-inputs {
  display: flex;
  flex-direction: column;
}

.login-inputs input {
  border: none;
  border-bottom: 1px solid #808080;
  background: transparent;
  transition: all 0.5s ease;
}

.login-inputs span {
  margin-bottom: 0;
}

.login-inputs input:hover,
.login-inputs input:focus {
  padding: 3px;
  border-bottom: 3px solid #eb6954;
  background-color: #e3e4e691;
  outline: none;
}

.sr-only {
  display: none;
}

.generic-button {
  background-color: #020202;
  border-radius: 1.2em;
  padding: 6px 18px 6px 18px;
  font-weight: 600;
}

.pointer {
  cursor: pointer;
}

.navbar {
  position: relative;
  padding: 5px;
  display: flex;
  height: 8vh;
  width: 100vw;
  background: linear-gradient(135deg, #ff9a81, #eb6954);
  box-shadow: 0 2px 12px 0 rgba(91, 41, 191, 0.5);
}
